
.side-bar {
  background-color: #393a44;
  min-width: 200px;
}

.table td{
  color:slategrey;
}

button{
  margin-right: 5px;
}

.date-button button{
 size: 100px;
}

.header-line{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}





