body{
  text-size-adjust: 100%;
}


.side-bar {
  background-color: #393a44;
  min-width: 200px;
}

.table td{
  color:slategrey;
}

button{
  margin-right: 5px;
}

.date-button button{
 size: 100px;
}

ol{
  margin-top:10px ;
  margin-bottom: 30px;
}

li{
  margin-top: 10px;
}





